.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #0064A6;
  padding: 20px;
  color: white;
}

.App-title {
  margin: 0;
}

.App-intro {
  font-size: large;
}