.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #0064A6;
  padding: 20px;
  color: white;
}

.App-title {
  margin: 0;
}

select {
  margin-right: 1em;
}

input {
  margin-top: 1em;
}

h2 {
  margin-bottom: 0em;
}

.Results {
  border: 1px solid black;
  padding-bottom: 1em;
  margin: 0em 5em 1em 5em;
}